@page "/"

<PageTitle>HybridTodoApp - Windows Forms</PageTitle>

<h1>Welcome to HybridTodoApp</h1>

<p>This is the Windows Forms version of the Hybrid Todo App running with Blazor.</p>

<HybridTodoApp.Components.Pages.Todo />