@page "/todo"
@using HybridTodoApp.Data
@inject TodoService TodoService


<h3>Todo ()</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <span style="@(todo.IsDone ? "text-decoration: line-through;" : "")">@todo.Title</span>
        </li>
    }
</ul>

<input placeholder="Something todo.." @bind="newTodo" />
<button @onclick="AddTodo" class="btn btn-warning">Add</button>
<button @onclick="Save" class="btn btn-primary">Save</button>

@code {
    List<TodoItem> todos = new List<TodoItem>
    {
        new TodoItem { Title = "Learn Blazor", IsDone = true },
        new TodoItem { Title = "Build an app", IsDone = false }
    };
    string newTodo = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var todoItems = TodoService.LoadItems();
        todos.AddRange(todoItems);
    }

    void AddTodo()
    {
        if (string.IsNullOrWhiteSpace(newTodo))
            return;
        todos.Add(new TodoItem { Title = newTodo, IsDone = false });
        newTodo = string.Empty;
    }

    void Save()
    {
        TodoService.SaveItems(todos);
    }
}
