@page "/todo"
@using HybridTodoApp.Data


<h3>Todo ()</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <span style="@(todo.IsDone ? "text-decoration: line-through;" : "")">@todo.Title</span>
        </li>
    }
</ul>

<input placeholder="Something todo.." @bind="newTodo" />
<button @onclick="AddTodo">Add</button>

@code {
    List<TodoItem> todos = new List<TodoItem>
    {
        new TodoItem { Title = "Learn Blazor", IsDone = true },
        new TodoItem { Title = "Build an app", IsDone = false }
    };
    string newTodo = string.Empty;

    void AddTodo()
    {
        if (string.IsNullOrWhiteSpace(newTodo))
            return;
        todos.Add(new TodoItem { Title = newTodo, IsDone = false });
        newTodo = string.Empty;
    }
}
